liip_imagine:
    resource: "@LiipImagineBundle/Resources/config/routing.xml"

nami_api:
  resource: "@NamiCoreBundle/Resources/config/routing.yml"
  type:     rest
  prefix:   /api
  options:
      expose: true

nami_api_doc:
  resource: "@NelmioApiDocBundle/Resources/config/routing.yml"
  prefix:   /api-doc

nami_admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

nami_front_homepage:
    path:     /
    defaults: { _controller: NamiCoreBundle:Frontend:index }
    requirements:
        _method:  GET|POST

nami_front_login:
    path:     /login
    defaults: { _controller: NamiCoreBundle:FrontendSecurity:login }
    requirements:
        _method:  GET|POST

nami_front_extra:
    path:     /test
    defaults: { _controller: AcmeThemeBundle:Frontend:test }
    requirements:
        _method:  GET|POST

nami_front_page:
    path:     /{slug}
    defaults: { _controller: NamiCoreBundle:Frontend:index }
    requirements:
        _method:  GET|POST
        slug: .+

