<div class="block block-category clearfix">

    <div class="thumbnail">
        {% if block.hasImages() %}
            <img class="image-responsive" src="{{ block.getFirstImage().getPath(false) | imagine_filter('category') }}" alt="{{ block.getFirstImageName() }}">
        {% endif %}

        <div class="caption">
            {% if block.getTitle() %}
                <h3>{{ block.getTitle() }}</h3>
            {% endif %}

            {{ block.getContent() | raw }}
        </div>
    </div>
</div>
