<div class="block block-front jumbotron">
    {% if block.getTitle() %}<h2>{{ block.getTitle() }}</h2>{% endif %}

    {% if block.hasImages() %}
        <div class="text-center m-b">
            <img class="image-responsive" src="{{ block.getFirstImage().getPath(false) }}" alt="{{ block.getFirstImageName() }}">
        </div>
    {% endif %}

    {{ block.getContent() | raw }}
</div>
